* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.199);
  position: sticky;
  width: 100%;
  z-index: 99999999;
  top: 0;
  background: #fff;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #020202;
  text-decoration: none !important;
}

a.active {
  background: royalblue;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s ease;
}

.product__image {
  width: 100%;
  height: 350px;
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.product {
  max-width: 350px;
  margin: 2rem 0;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.199);
}

.product__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-in {
  display: flex;
}

.sign-in a {
  margin: 0 1rem;
}

.product__page {
  max-width: 600px;
  margin: 3rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.199);
  padding: 1rem;
}

.product__page img {
  margin-bottom: 1rem;
}

.product-page__btn {
  background: rgb(93, 134, 255);
  border-radius: 5px;
  width: 100%;
  border: none;
  padding: 1rem;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.5s ease;
}

.product-page__btn:hover {
  border-color:royalblue ;
  background-color: transparent;
  color: royalblue;
}

.form__container {
  background-color: #fff;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.199);
  padding: 1.5rem;
  margin: 2rem auto;
  max-width: 400px;
}

.input__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.input__container input {
  border: 2px solid rgb(240, 240, 240);
  padding:0.6rem 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  outline: none !important;
  font-family: inherit;
  transition: 0.5s ease;
  font-size: 1.1rem;
}


.input__container input:focus {
  border-color: royalblue;
}

.form__checkbox input{
  margin-right: 1rem;
  width: 20px;
  height: 20px;
}

.forgot__btn {
  text-align: center;
  display: block;
  margin-top: 1rem;
  font-size: 1.1rem;
  color: rgb(30, 78, 221);
}

.have-account {
  text-align: center;
}

.loading {
  margin: 0 auto;
  display: block;
  height: auto !important;
}

.error__message {
  color: red;
  padding-left: 5px;
}

.form__item {
  margin-bottom: 1rem;
}